h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

body {
  background-color: #f7fbfb;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #202321;
  align-items: center;
}

h2 {
  font-family: Montserrat;
  font-size: 52px;
  font-weight: 400;
  line-height: 63px;
  letter-spacing: 0em;
  text-align: center;
  color: #1b1d1b;
}
@media screen and (min-width: 768px) {
  h2 {
    margin-bottom: 40px;
    margin-top: 80px;
  }
}
@media screen and (min-width: 1440px) {
  h2 {
    font-size: 68px;
    line-height: 83px;
    margin-bottom: 60px;
  }
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding: 0 32px;
}
@media screen and (min-width: 765px) {
  .container {
    padding: 0 20px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    padding: 0 135px;
  }
}

button {
  background-color: #5b86a1;
}

.header {
  position: absolute;
  width: 100%;
  margin-top: 20px;
  align-items: baseline;
  display: flex;
  z-index: 1;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.logo_img {
  display: block;
  margin-top: 30px;
  margin-right: 238px;
}

.navigation {
  margin-left: auto;
}

.navigation__list {
  flex-wrap: wrap;
  display: flex;
  margin-top: 40px;
  margin-left: auto;
}

.menu-button {
  background-color: #f7fbfb;
  border: none;
}

.navigation__item {
  margin-left: 80px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
}

.navigation__link {
  color: #f7fbfb;
}

.navigation__link:focus {
  text-decoration: underline;
}

.icon-menu {
  stroke: #f7fbfb;
}

.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 765px) {
  .hero {
    background-image: url(../images/hero/hero_tablet_bg.jpg);
    height: 818px;
  }
}
@media screen and (min-width: 1440px) {
  .hero {
    background-image: url(../images/hero/hero_desk_bg.jpg);
    height: 1024px;
  }
}

.hero__title {
  font-family: Montserrat;
  color: #f7fbfb;
  font-weight: 400;
  font-size: 40px;
  line-height: 48.76px;
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 765px) {
  .hero__title {
    font-size: 68px;
    font-weight: 400;
    line-height: 83px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__title {
    font-size: 88px;
    line-height: 107.27px;
    padding-top: 280px;
    margin-bottom: 40px;
  }
}

.hero__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #f7fbfb;
}
@media screen and (min-width: 765px) {
  .hero__text {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__text {
    font-size: 28px;
    line-height: 34.13px;
  }
}

.hero__button {
  background-color: #5b86a1;
  color: #f7fbfb;
  border-color: transparent;
  padding: 15px 91px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
}
@media screen and (min-width: 765px) {
  .hero__button {
    font-size: 20px;
    line-height: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__button {
    font-size: 24px;
    line-height: 29.26px;
    padding: 20px 199px;
  }
}

@media screen and (min-width: 765px) {
  .social-list {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .social-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: absolute;
    left: 88%;
    top: 649px;
  }
}

.about-text {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

.text-break {
  margin-bottom: 10px;
}

.advantages {
  background-repeat: no-repeat;
}
@media screen and (min-width: 765px) {
  .advantages {
    background-image: url("../images/advantages/advantages_tablet.jpg"), url("../images/advantages/advatages2_tablet.jpg");
    background-position: top 100px left, bottom right;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1440px) {
  .advantages {
    background-image: url("../images/advantages/advantages2.jpg"), url("../images/advantages/advantages1.jpg"), url("../images/advantages/advantages3.jpg");
    background-position: top 140px left, top 223px right, top 223px center;
    margin-left: 135px;
    margin-right: 135px;
  }
}

@media screen and (min-width: 765px) {
  .advantages-list {
    margin-left: 62px;
  }
}
@media screen and (min-width: 1440px) {
  .advantages-list {
    margin-left: 135px;
  }
}

@media screen and (min-width: 765px) {
  .advatages-title {
    margin-bottom: 120px;
  }
}
@media screen and (min-width: 1440px) {
  .advatages-title {
    margin-bottom: 140px;
  }
}

.advantages-item {
  display: flex;
  font-family: Montserrat;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  color: #f7fbfb;
  height: 64px;
  background-color: #5b86a1;
  align-items: center;
}
@media screen and (min-width: 765px) {
  .advantages-item {
    width: 604px;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .advantages-item {
    width: 630px;
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 29px;
  }
}

@media screen and (min-width: 765px) {
  .star {
    margin: 12px 12px 12px 44px;
  }
}
@media screen and (min-width: 1440px) {
  .star {
    margin-right: 19px;
    margin-left: 133px;
    margin-top: 19px;
    margin-bottom: 19px;
  }
}

.tours-list {
  display: flex;
  gap: 20px;
}

.tours-item {
  border: 1px solid #5b86a1;
  width: 377px;
}

.tour-image {
  display: block;
  margin-bottom: 44px;
  width: 377px;
}

.tour-title {
  font-weight: 600;
  color: #1b1d1b;
  margin-bottom: 20px;
  text-align: left;
  margin-left: 20px;
}
@media screen and (min-width: 765px) {
  .tour-title {
    font-size: 24px;
    line-height: 29px;
  }
}
@media screen and (min-width: 1440px) {
  .tour-title {
    line-height: 34px;
    font-size: 28px;
  }
}

.tour-price {
  font-weight: 600;
  color: #202321;
  margin-bottom: 36px;
  text-align: left;
  margin-left: 20px;
}
@media screen and (min-width: 765px) {
  .tour-price {
    font-size: 20px;
    line-height: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .tour-price {
    line-height: 29px;
    font-size: 24px;
  }
}

.tour-button {
  font-weight: 500;
  color: #f7fbfb;
  background-color: #5b86a1;
  margin-bottom: 48px;
}
@media screen and (min-width: 765px) {
  .tour-button {
    font-size: 20px;
    line-height: 24px;
    padding: 16px 79px;
  }
}
@media screen and (min-width: 1440px) {
  .tour-button {
    font-size: 24px;
    line-height: 29px;
    padding: 20px 75px;
  }
}

.reviews-list {
  display: flex;
  gap: 19px;
}

.review-item {
  background-image: url(../images/reviews/Review_desk.jpg);
  background-repeat: no-repeat;
  width: 377px;
  height: 570px;
  border: 1px solid #5b86a1;
}

.review.card {
  position: relative;
}

.review-photo {
  margin-top: 72px;
  margin-left: 126px;
  margin-right: 126px;
  margin-bottom: 20px;
}

.review-name {
  font-size: 28px;
  font-weight: 600;
  line-height: 34px;
  text-align: center;
  color: #5b86a1;
  margin-bottom: 24px;
}

.review-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #202321;
  margin-left: 28px;
  margin-right: 28px;
}

.questions {
  margin-top: 80px;
  background-image: url(../images/questions/desk_bg.jpg);
  background-repeat: no-repeat;
  height: 1074px;
  padding-top: 244px;
  padding-left: 333px;
}

.questions-card {
  border: 1px solid #a3a5a3;
  background-color: #f7fbfb;
  width: 774px;
  height: 583px;
  align-content: center;
  text-align: center;
}

.questions-title {
  font-size: 48px;
  font-weight: 500;
  line-height: 58.51px;
  text-align: center;
  color: #1b1d1b;
  margin-top: 60px;
  margin-bottom: 32px;
}

.questions-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  width: 502px;
  margin-bottom: 44px;
  color: #202321;
  margin-left: 135px;
}

.questions-form {
  margin-bottom: 28px;
  display: block;
  padding: 0 98px 0 100px;
}

.form-button {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  width: 100%;
  color: #f7fbfb;
  border: 0px;
  padding: 20px 231px;
}

.questions-form .form-row {
  display: flex;
  margin: 32px 0;
}

.input-data {
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}

form .form-row .textarea {
  height: 70px;
}

.input-data input,
.textarea textarea {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

input:focus ~ label,
textarea:focus ~ label,
input:valid ~ label,
textarea:valid ~ label {
  transform: translateY(-20px);
  font-size: 14px;
  color: #3498db;
}

.textarea textarea {
  resize: none;
  padding-top: 10px;
}

.input-data label {
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.textarea label {
  width: 100%;
  bottom: 40px;
  background: #fff;
}

.input-data .underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}

.input-data .underline:before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #3498db;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before {
  transform: scale(1);
}

.footer {
  background-color: #202321;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  color: #f7fbfb;
}

.footer-wrap {
  display: flex;
  align-items: baseline;
}

.footer-title {
  font-size: 60px;
  font-weight: 400;
  line-height: 73px;
  letter-spacing: 0em;
  text-align: center;
  color: #f7fbfb;
  margin-left: 333px;
  margin-right: 128px;
}

.footer-text {
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: #a3a5a3;
  padding-bottom: 48px;
}

.footer-list {
  text-align: left;
}

.footer-item {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #f7fbfb;
}

.footer-soc-list {
  display: flex;
  gap: 32px;
}

.footer-soc-links {
  color: #f7fbfb;
}

.footer-list-item {
  margin-bottom: 40px;
}

.footer-list-item:last-child {
  margin-bottom: 64px;
}/*# sourceMappingURL=main.css.map */