.about-text {
  font-family: Montserrat;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  font-size: 16px;
  line-height: 20px;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 24px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 24px;
    line-height: 29px;
  }
}

.text-break {
  margin-bottom: 10px;
}
