.advantages-item {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #f7fbfb;
  width: 630px;
  height: 64px;
  background-color: #5b86a1;
  margin-bottom: 24px;
}
.star {
  margin-right: 19px;
  margin-left: 133px;
  margin-top: 19px;
  margin-bottom: 19px;
}
