.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../images/hero/hero_mobile.jpg);
  height: 788px;

  @media screen and (min-width: 768px) {
    background-image: url(../images/hero/hero_tablet_bg.jpg);
    height: 818px;
  }
  @media screen and (min-width: 1440px) {
    background-image: url(../images/hero/hero_desk_bg.jpg);
    height: 1024px;
    width: 100%;
  }
}

.hero__title {
  font-family: Montserrat;
  color: #f7fbfb;
  font-weight: 400;
  font-size: 40px;
  line-height: 48.76px;
  text-align: center;
  margin-bottom: 60px;
  padding-top: 188px;

  @media screen and (min-width: 768px) {
    font-size: 68px;
    font-weight: 400;
    line-height: 83px;
    margin-bottom: 40px;
    padding-top: 180px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 88px;
    line-height: 107.27px;
    padding-top: 280px;
    margin-bottom: 40px;
  }
}

.hero__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  margin-bottom: 88px;
  text-align: center;
  color: #f7fbfb;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1440px) {
    font-size: 28px;
    line-height: 34.13px;
  }
}

.hero__button {
  background-color: #5b86a1;
  color: #f7fbfb;
  border-color: transparent;
  padding: 15px 91px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 24px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 24px;
    line-height: 29.26px;
    padding: 20px 199px;
  }
}

.social-list {
  display: none;

  @media screen and (min-width: 1440px) {
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: absolute;
    left: 88%;
    top: 649px;
  }
}
