.mobile-menu {
  display: flex;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    transform: translateY(-100%);
    visibility: hidden;
    opacity: 0;

    // position: absolute;
    // top: 0;
    // left: 0;
    // width: 100%;
    // height: 95vh;

    background-color: rgba(32, 35, 33, 0.7);

    transition: transform cubic-bezier(0.4, 0, 0.2, 1),
      opacity vcubic-bezier(0.4, 0, 0.2, 1),
      visibility vcubic-bezier(0.4, 0, 0.2, 1);

    &.is-open {
      transform: translateY(0);
      visibility: visible;
      opacity: 1;
    }
  }
}

.menu-button {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  z-index: 2;

  @media screen and (min-width: 1440px) {
    display: none;
  }
}

.icon-cross {
  display: none;

  .icon-menu.is-open & {
    display: block;
  }
}

.icon-menu {
  .menu-button.is-open & {
    display: none;
  }
}
