.questions {
  margin-top: 80px;
  background-image: url(../images/questions/desk_bg.jpg);
  background-repeat: no-repeat;
  height: 1074px;
  padding-top: 244px;
  padding-left: 333px;
}
.questions-card {
  border: 1px solid #a3a5a3;
  background-color: #f7fbfb;
  width: 774px;
  height: 583px;
  align-content: center;
  text-align: center;
}

.questions-title {
  font-size: 48px;
  font-weight: 500;
  line-height: 58.51px;
  text-align: center;
  color: #1b1d1b;
  margin-top: 60px;
  margin-bottom: 32px;
}

.questions-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  width: 502px;
  margin-bottom: 44px;
  color: #202321;
  margin-left: 135px;
}
.questions-form {
  margin-bottom: 28px;
  display: block;
  padding: 0 98px 0 100px;
}

.form-button {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  width: 100%;
  color: #f7fbfb;
  border: 0px;
  padding: 20px 231px;
}

.questions-form .form-row {
  display: flex;
  margin: 32px 0;
}
.input-data {
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}
form .form-row .textarea {
  height: 70px;
}
.input-data input,
.textarea textarea {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}
input:focus ~ label,
textarea:focus ~ label,
input:valid ~ label,
textarea:valid ~ label {
  transform: translateY(-20px);
  font-size: 14px;
  color: #3498db;
}
.textarea textarea {
  resize: none;
  padding-top: 10px;
}
.input-data label {
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}
.textarea label {
  width: 100%;
  bottom: 40px;
  background: #fff;
}
.input-data .underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}
.input-data .underline:before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #3498db;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before {
  transform: scale(1);
}
