.reviews-list {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 19px;
  }
}

.review-item {
  position: relative;
  background-image: url(../images/reviews/Review_desk.jpg);
  background-repeat: no-repeat;

  border: 1px solid #5b86a1;

  width: 311px;
  height: 452px;
  @media screen and (max-width: 767px) {
    margin-bottom: 32px;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
    height: 504px;
  }
  @media screen and (min-width: 1440px) {
    width: 377px;
    height: 570px;
  }
}
.review.card {
  position: relative;
}

.review-photo {
  margin: 84px 106px 20px 105px;
  width: 100px;
  height: 100px;
  @media screen and (min-width: 768px) {
    margin: 84px 127px 24px 127px;
  }
  @media screen and (min-width: 1440px) {
    margin: 72px 126px 20px 126px;
  }
}

.review-name {
  font-style: 20px;
  line-height: 24.38px;
  margin-bottom: 16px;
  font-weight: 600;
  text-align: center;
  color: #5b86a1;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 24px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 28px;
    line-height: 34px;
  }
}

.review-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.5px;
  margin-left: 35px;
  margin-right: 35px;
  text-align: left;
  color: #202321;

  @media screen and (min-width: 768px) {
    margin-left: 20px;
    margin-right: 20px;
  }
  @media screen and (min-width: 1440px) {
    margin-left: 28px;
    margin-right: 28px;
  }
}

.review-item:last-child {
  @media screen and (max-width: 1439px) {
    display: none;
  }
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.review-card {
  cursor: pointer;
  width: 311px;
  height: 452px;
  @media screen and (min-width: 768px) {
    width: 354px;
    height: 504px;
  }
  @media screen and (min-width: 1440px) {
    width: 377px;
    height: 570px;
  }
}

.rotate {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.front,
.back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform 0.6s linear;
}

.front {
  transform: perspective(600px) rotateY(0deg);
}

.back {
  transform: perspective(600px) rotateY(180deg);
}

.review-card:hover > .front {
  transform: perspective(600px) rotateY(-180deg);
}
.review-card:hover > .back {
  transform: perspective(600px) rotateY(0deg);
}
