.tours-list {
  display: flex;
  gap: 20px;
}

.tours-item {
  border: 1px solid #5b86a1;
  width: 377px;
}

.tour-image {
  display: block;
  margin-bottom: 44px;
  width: 377px;
}

.tour-title {
  font-size: 28px;
  font-weight: 600;
  line-height: 34px;
  color: #1b1d1b;
  margin-bottom: 20px;
  text-align: left;
  margin-left: 20px;
}

.tour-price {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  color: #202321;
  margin-bottom: 36px;
  text-align: left;
  margin-left: 20px;
}

.tour-button {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  padding: 20px 75px;
  color: #f7fbfb;
  background-color: #5b86a1;
  margin-bottom: 48px;
}
